.custom-shape-divider-top-1674927400 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674927400 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1674927400 .shape-fill {
    fill: #f7d646;
}
h1{
    background-color: #f7d646;
}
.accordion-button:hover{
    background-color: #f8f3dd;
}